// Colors

$dark-blue: #364051;
$dark-gray: #333;
$gray: #666;
$light-blue: #1c8af5;
$off-white: #f7f7f7;
$bg1: linear-gradient(rgb(195, 196, 255), rgb(102, 252, 255));
$bg2: linear-gradient(rgba(253, 125, 125, 0.87), rgb(247, 241, 156));
$bg3: linear-gradient(rgb(162, 218, 255), rgb(255, 246, 113));
$bg4: linear-gradient(rgb(195, 226, 255), rgb(223, 244, 252));


//Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Spacing

$xl-size: 4.8rem;
$l-size: 3.2rem;
$m-size: 1.6rem;
$s-size: 1.2rem;
$desktop-breakpoint: 45rem;
$inspiration-margin: 0.3rem;